.container {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  padding: 60px;

  background:
    radial-gradient(
      circle at top left,
      rgba(120, 119, 198, 0.25),
      transparent 30%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(255, 0, 128, 0.18),
      transparent 30%
    ),
    radial-gradient(circle at center, rgba(0, 200, 255, 0.12), transparent 40%),
    #050505;

  color: white;
  overflow: hidden;
}

.left {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-rubik);
}

.right {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 350px;
}

.title {
  font-weight: 900;
  line-height: 1.1;

  margin-bottom: 20px;
  span {
    font-size: 40px;
  }
}

.subtitle {
  font-size: 18px;
  color: #a0a0a0;

  line-height: 1.6;
  margin-bottom: 20px;
}

.uploadInner {
  border: 2px dashed rgb(33, 98, 139);

  border-radius: 18px;

  padding: 20px 10px;

  text-align: center;

  cursor: pointer;

  transition: 0.3s ease;
}

.uploadInner:hover {
  border-color: rgba(255, 255, 255, 1);

  background: rgba(255, 255, 255, 0.03);
}

.uploadInner h4 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #a0a0a0;
}

.uploadInner p {
  font-size: 12px;
  color: #a0a0a0;
}

.infoCard {
  border: 1px solid rgba(255, 255, 255, 0.1);

  background: rgba(255, 255, 255, 0.03);

  backdrop-filter: blur(10px);

  border-radius: 20px;

  padding: 25px;
}

.infoCard h2 {
  font-size: 28px;
  margin-bottom: 18px;
  font-family: var(--font-rubik);
}

.infoCard ul {
  display: flex;
  flex-direction: column;
  gap: 1px;

  padding-left: 12px;

  color: #d0d0d0;
  font-size: 14px;

  list-style: none;
}

.techStack div {
  h2 {
    font-size: 28px;
    font-family: var(--font-rubik);
    padding-left: 25px;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    gap: 8px;
    margin-top: 8px;
  }
}

.techStack span {
  padding: 5px 12px;

  border-radius: 999px;

  background: rgba(255, 255, 255, 0.08);

  border: 1px solid rgba(255, 255, 255, 0.08);

  font-size: 16px;

  color: #e5e5e5;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;

    gap: 50px;
  }
  .left {
    width: fit-content;
    justify-content: space-between;
    min-width: 250px;
  }

  .right {
    width: fit-content;
  }

  .title {
    font-size: 48px;
  }
}
